
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #5555559c;
    color: white;
    margin: 0;
    padding: 20px;
}
.M0 {
    margin: 0;
}
.inline-icon__label {
    background-image: url(pictures/57824be698ced184ff83.svg);
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 5px 0 0;
    vertical-align: middle;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.svg__small {
    width: 12px;
    height: 12px;
}
.svg__big {
    width: 16px;
    height: 16px;
}
.label__badge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box; 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: blueviolet;
}
.content {
    display: flex;
    flex-direction: column;
}
.content {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 400px));
    grid-template-rows: repeat(7, auto);
    gap: 10px;
}
.card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 7;
    position: relative;
    row-gap: 0;
    
}
.label__poster {
    width: 100%;
}
.label__content {
    margin-top: -25px;
}
.svg__label {
    color: white;
}
use {
    fill: currentColor;
}
.card {
    background-color: rgb(185, 185, 185);
    justify-items: start;
}
.uppercase {
    text-transform: uppercase;
}
.label__text {
    margin: 0 0 10px 0;
}
.label__wt {
    position: absolute;
    
}
.label__get {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.label__price {
    justify-self: right;
    margin-top: 20px;
}
.text__big {font-size: 30px; font-weight: bold;}
.text__medium {font-size: 25px;}
.text__small{font-size: 15px; color: rgb(233, 233, 233);}




@media (min-width: 560px) {
    
}